@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.main {
    margin: 4rem;
    height: 100vh;
}
h1 {
    margin-bottom: 5rem;
}

.input-container {
    width: 300px; 
    position: relative; 
}
#password {
    width: 100%;
    position: absolute;
    padding: 1rem 2rem;
    outline: none;
    border: 1px solid #333;
    background: transparent;
}
.btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    transition: transform 0.5s ease;
}
.btn:hover {
    transform: translateX(.5rem);
}
.btn i {
    padding: .5rem;
    background-color: #333;
    border-radius: 50%;
    width: 1rem;
    color: #fff;
    cursor: pointer;
}
.input-msg {
    position: absolute;
    bottom: -4.5rem;
    color: #333;
    display: none;
    color: rgb(239, 239, 84);

}